mixin c-MainHero
  section.c-main-hero
    .flex.justify-center.h-full(class="lg:px-0")
      div(class="w-full h-full relative lg:w-10/12")
        .swiper-container.c-main-hero__slider
          .swiper-wrapper
            .swiper-slide
              .c-main-hero__slider__slide
                img(src="/images/slider-bg-07.jpg", alt="")
                .c-main-hero__slider__slide__content
                  h6 Welcome To B4S Nozzle Company
                  h2 The <strong>Possibilities</strong> Are Endless
                  p Since more than 40 years, FABLIO is operating in the textile market manufacture<br>and trader. As years go by, the range of produced.
                  footer
                    a.c-button(href="/") Daha Fazla Bilgi
            .swiper-slide Slide 2
            .swiper-slide Slide 3
